.login-container-con {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.login-container-con.hide {
  display: none;
}
.login-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.error {
  color: rgb(255, 109, 109);
  margin-top: 10px;
}
.success {
  color: var(--main);
  margin-top: 10px;
}

.content {
  display: flex;
  width: 500px;
  height: 500px;
  background: #000;
}
.admin-input {
  background-color: #00000010 !important;
  width: 100% !important;
  margin: 10px 0 0 0 !important;
  color: var(--black) !important;
  font-weight: 500 !important;
}
.admin-input:hover {
  background-color: #00000010 !important;
}
.admin-btn {
  width: 100% !important;
  margin: 0 !important;
  margin: 15px 0 0 0 !important;
}
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 50px 30px 50px;
}
#loginForm {
  margin: 25px 0 0 0 !important;
}

.content-con {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  padding-top: 100px;
}
.admin-bar {
  width: 20%;
  height: 100%;
  overflow: scroll;
}

.admin-bar ul {
  display: flex;
  flex-direction: column;
}
.admin-bar-item {
  display: flex;
  align-items: start;
  width: 100%;
  padding: 5px 0px 5px 30px;
  transition: var(--tran-03);
  border-radius: 5px;
  margin: 1px 0;
}
.admin-bar-item:hover {
  background: #00000008;
  transition: var(--tran-03);
}
.admin-bar-item h2 {
  font-size: 14px;
  transition: var(--tran-03);
}
.admin-bar-item:hover h2 {
  transform: translateX(5%);
  color: var(--main);
  transition: var(--tran-03);
}
.admin-bar-item.active h2 {
  transform: translateX(5%);
  color: var(--main);
  transition: var(--tran-03);
}

.obj-cart-con {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: flex-start;
  width: 80%;
  height: 100vh;
  padding: 100px 20px;
  overflow: scroll;
  align-content: flex-start;
}
.obj-cart {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: fit-content;
  box-shadow: #00000020 0 0 20px;
  border-radius: 10px;
  margin: 10px;
  transition: var(--tran-03);
  cursor: pointer;
}
.obj-cart-main {
  display: flex;
  align-items: center;
  width: 100%;
}
.mini-photo-con {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 100%;
}
.mini-photo-con img {
  width: 70%;
}
.obj-cart-title {
  width: 55%;
  padding: 10px 0;
}
.obj-cart-title h1 {
  font-size: 24px;
}
.obj-cart-title h2 {
  color: var(--main);
}
.trash {
  display: flex;
  justify-content: center;
  position: relative;
  width: 20%;
  cursor: pointer;
  transition: var(--tran-03);
}
.trash img {
  width: 25%;
  margin: 5px;
}

.trash-tip {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  color: var(--main);
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
}

.obj-cart:hover .obj-cart-down {
  /* transform: translateY(0%); */
  opacity: 1;
}
.obj-cart-down {
  width: 100%;
  /* transform: translateY(-30%); */
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--tran-03);
}
.obj-cart:hover .obj-cart-down img {
  transition: var(--tran-03);
}
.obj-cart-down img {
  width: 15px;
  rotate: 90deg;
  cursor: pointer;
  transition: var(--tran-03);
}
.obj-cart-down.up img {
  rotate: 270deg;
}
.cart-photo {
  display: flex;
  width: 100%;
  align-items: center;
}
.cart-photo img {
  width: 20%;
}
.cart-descript-con {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  height: 100%;
  width: 100%;
}
.cart-specifications {
  width: 100%;
  margin: 10px 0;
}
.obj-cart-dop.show {
  display: flex;
  flex-direction: column;
  padding: 10px 30px;
}
.obj-cart-dop {
  display: none;
  width: 100%;
  padding: 10px;
}
.cart-brend,
.cart-filter {
  color: var(--main);
  font-weight: 500;
}
.open-all,
.close-all {
  color: var(--main);
  transition: var(--tran-03);
  font-weight: 600;
  cursor: pointer;
  margin: 10px 50px;
}
.open-all:hover,
.close-all:hover {
  color: var(--dark);
}
.cart-margin {
  width: 80%;
  height: 2px;
  background: #00000020;
  margin: 30px 0 50px 0;
}
.input-adm-main {
  /* background: #f3f3f3; */
  background: #fff;
  border-style: none;
  width: 100% !important;
  height: fit-content;
  padding: 5px 45px;
  margin: 0;
  font-size: 14px;
  border-radius: 4px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  cursor: pointer;
  color: var(--black);
  transition: var(--tran-05);
  margin: 2px 0;
}
.in-title {
  color: var(--main);
  font-size: 20px;
  font-weight: 600;
}
.input-adm-change {
  scale: 1;
  transition: var(--tran-03);
}
.input-adm-change:active {
  scale: 0.9;
}
.input-adm-submit {
  display: none;
  color: #f5f5f5 !important;
  background: var(--main) !important;
  font-weight: 600;
  margin: 15px 0 !important;
}
.adm-bar-btn {
  font-size: 16px !important;
  font-weight: 500 !important;
  padding: 2px 20px !important;
  margin: 10px 0px !important;
}
.adm-bar-btn-con {
  display: flex;
  flex-direction: column;
  margin: 0px 30px !important;
}

.adm-btn-close {
  width: 25px;
  scale: 1;
  margin: 10px 0;
  cursor: pointer;
  transition: var(--tran-03);
}
.adm-btn-close:active {
  scale: 0.8;
}
.search-adm {
  background: #ffffff33;
  width: 100%;
  border: none;
  border-radius: 2px;
  color: var(--black);
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  padding: 2px 20px;
  margin: 4px;
  transition: var(--tran-03);
}
.actept {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.fade-in {
  opacity: 0;
  transition: var(--tran-01);
}
.fade-in.show {
  opacity: 1;
  transition: var(--tran-01);
}
.input-adm-delite {
  scale: 1;
  transition: var(--tran-03);
}
.input-adm-delite:active {
  scale: 0.9;
}
