@media (max-width: 600px) {
  :root {
    --title_mob: 25px;
    --btn_mob: 8px;
    --h1_mob: 25px;
    --h2_mob: 16px;
    --h3_mob: 8px;
    --h3-card_mob: 14px;
  }

  /* /////////////////////////--------меню---------///////////////////////////////////////////// */
  .header-con {
    display: none;
  }
  .header-mob-con {
    display: flex !important;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 70px;
    padding: 0px 20px;
    background: #fff;
    box-shadow: #00000020 0 0 20px;
    z-index: 9998;
  }
  .mob-btn-con {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mob-btn-con img {
    position: absolute;
    right: 20px;
  }
  .mob-logo-con {
    display: flex;
    justify-content: start;
    align-items: center;
  }
  .mob-logo-con a img {
    width: 140px;
  }
  .main-mob-menu.active {
    transform: translateX(0);
    transition: var(--tran-03);
  }
  .main-mob-menu {
    transform: translateX(100%);
    display: flex !important;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
    width: 80vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    background: #ffffff;
    box-shadow: #00000020 0 0 20px;
    z-index: 9999;
    transition: var(--tran-03);
  }
  .logo-main-mob-menu a img {
    width: 70%;
    margin-left: 50px;
  }
  .main-mob-menu ul {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 50px;
  }
  .main-mob-menu ul li a {
    font-size: 20px;
    color: var(--dark);
    margin: 10px 0;
  }
  .mob-link-con {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .main-mob-menu button {
    width: 90%;
    margin: 0;
    font-size: 4vw;
    padding: 5px;
  }
  .mob-link-con .link {
    margin-top: 20px;
  }
  .company-mob-con {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .company-mob-con h2 {
    font-size: 14px;
    font-weight: 600;
    color: var(--dark);
  }
  .company-mob-con h3 {
    font-size: 10px;
    font-weight: 500;
    color: var(--dark);
  }
  .company-mob-con div {
    display: flex;
    margin-top: 10px;
  }
  .lang-switch {
    color: var(--dark) !important;
  }
  .lang-switch.active {
    color: var(--dark) !important;
    font-weight: 600 !important;
  }
  .close-mob {
    position: absolute;
    bottom: 5%;
    left: -20%;
  }
  .close-menu {
    position: absolute;
    bottom: 10%;
    left: -20%;
    transition: var(--tran-03);
  }
  .close-menu.hide {
    left: 20%;
    transition: var(--tran-03);
  }
  .open-menu {
    width: 40px;
    overflow: hidden;
    transition: var(--tran-03);
  }
  .open-menu.hide {
    width: 0;
    overflow: hidden;
    transition: var(--tran-03);
  }
  .catalog-mob-menu.active {
    transform: translateX(0);
    transition: var(--tran-03);
  }

  .catalog-mob-menu {
    display: flex !important;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    transform: translateX(-100%);
    width: 80vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: var(--main);
    box-shadow: #00000020 0 0 20px;
    z-index: 9997;
    transition: var(--tran-03);
  }
  .download-cat-mob {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20%;
  }
  .download-cat-mob button {
    color: #fff !important;
    border-color: #fff !important;
    margin: 0;
  }
  .download-cat-mob button::after {
    content: url(/assets/svg/download-white.svg);
  }
  .cataog-main-title {
    width: 100%;
    display: flex;
    justify-content: start;
    margin-top: 20%;
    margin-left: 10%;
  }
  .cataog-main-title h1 {
    color: #fff;
  }
  .open-img.active {
    color: #fff !important;
  }
  .open-img,
  .obj-btn {
    color: #fff !important;
    font-size: 14px !important;
    font-weight: 500 !important;
  }
  .open-img::before {
    content: url(/assets/svg/arrow-white.svg) !important;
    margin-right: 10px !important;
    width: 20px !important;
  }
  .object-item {
    padding: 0 !important;
    background: var(--dark) !important;
    border-radius: 0 !important;
    padding: 6px 0 !important;
  }
  .main-categories {
    width: 100% !important;
    padding: 0 !important;
    justify-content: start !important;
    height: 55% !important;
    overflow: scroll;
  }
  .main-categories li {
    width: 100% !important;
    padding: 0 !important;
    margin: 1px 0 !important;
  }
  .main-categories li h2 {
    margin: 0 30px !important;
    padding: 6px 0 !important;
  }
  .main-sub_categories li {
    margin: 1px 0 !important;
  }
  .main-sub_categories li h2 {
    margin: 0 50px !important;
    padding: 6px 0 !important;
  }
  .open-img li {
    width: 100% !important;
    padding: 0 !important;
  }
  .main-items {
    padding: 0 !important;
  }
  .main-items li {
    width: 100% !important;
    padding: 0 !important;
  }
  .obj-btn {
    width: 80% !important;
  }
  .download-cat ul {
    bottom: 100 !important;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
  .mob-cat-btn-con img {
    position: absolute;
    bottom: 10%;
    right: -15%;
  }

  .open-cat-menu {
    width: 50px;
    height: 50px;
    overflow: hidden;
    transition: var(--tran-03);
  }
  .open-cat-menu.hide {
    width: 0;
    height: 50px;
    overflow: hidden;
    transition: var(--tran-03);
  }
  .close-cat-menu {
    width: 50px;
    height: 50px;
    overflow: hidden;
    transition: var(--tran-03);
  }
  .close-cat-menu.hide {
    width: 0;
    height: 50px;
    overflow: hidden;
    transition: var(--tran-03);
  }
}
