.object {
  animation: fadeOutCarts 0.1s forwards;
}
.object.active {
  animation: fadeInCarts 0.5s forwards;
}
.spare-parts-btn {
  color: #00000080;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: 600;
  transform: var(--tran-03);
}
.spare-parts-btn.active {
  color: var(--main);
}
.spare-parts-btn:hover {
  color: var(--main);
}
.spare-parts-btn::before {
  content: url(/assets/svg/parts.svg);
  margin-right: 10px;
  scale: 1.2;
}
.spare-parts-con.active {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 3%;
  background: #ffffff;
  flex-wrap: wrap;
  overflow: scroll;
  animation: fadeInCarts 0.5s forwards;
}
.spare-parts-con {
  animation: fadeOutCarts 0.1s forwards;
}
.filter-btn-menu h2 {
  color: #ffffff !important;
  font-weight: 400;
}
.filter-btn-menu.active h2 {
  color: #ffffff !important;
  font-weight: 600;
}
.SPlistCart {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 20px 20px 20px;
  margin-top: 20px;
  width: 400px;
  height: fit-content;
  min-height: 300px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: #00000020 0 0 20px;
  animation: fadeOutCarts 0.1s forwards;
}
.SPlist-photo {
  width: 100%;
  height: 40px;
  object-fit: contain;
}
.SPlistCart.active {
  animation: fadeInCarts 0.5s forwards;
}
.SPlistCartUl li {
  display: flex;
}
.SPlistCartUl li h2 {
  font-size: 14px;
  color: var(--dark);
}
.SPlistCartUl li h2 span {
  font-size: 12px;
  color: #00000090;
}
.SPlistCart h1 {
  font-size: 25px;
  color: var(--main);
}
.SPlistCart button {
  width: 100%;
}
.SPlistCartUl {
  display: flex;
  align-items: start;
  flex-direction: column;
  margin: 10px 0;
}

.SPart-photo {
  display: flex;
  width: 100%;
  height: 200px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  scale: 1;
}
.cart-SPart:active {
  scale: 0.9;
  border-color: var(--main);
}
.cart-SPart.active {
  background: var(--main) !important;
  color: #fff !important;
}
.s-part {
  width: 30%;
  max-width: 330px;
  height: fit-content;
  max-height: 460px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: #00000020 0 0 20px;
  padding: 10px;
  margin: 30px;
}
.SP-photo-con {
  width: 80px;
  height: 50px;
  justify-content: center;
  overflow: hidden;
  align-items: center;
}
.s-part img {
  width: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  max-height: 200px;
}
.s-part h1 {
  color: var(--main);
  font-size: 20px;
  margin: 20px 0 10px 0;
  font-weight: 600;
}
.s-part h3 {
  margin-bottom: 10px;
  color: var(--dark);
}
.s-part .btn-light {
  font-size: 22px;
  padding: 0 10px;
}
.s-part .btn {
  width: 80%;
}
